<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   subscriptions.plist
   rollcall

   Created by Bobby Ren on 8/25/21.
   Copyright (c) 2021 Bobby Ren. All rights reserved.
-->
<plist version="1.0">
    <array>
        <string>rollcall.subscription.tier1</string>
        <string>rollcall.subscription.tier2</string>
    </array>
</plist>
