<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>productId</key>
		<string>rollcall.subscription.plus</string>
		<key>tier</key>
		<string>plus</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>productId</key>
		<string>rollcall.subscription.premium</string>
		<key>tier</key>
		<string>premium</string>
	</dict>
</array>
</plist>
